<div class="banner-container">
  <div class="banner-questions" style="background-image: url('<%= image_path 'questions-banner.svg' %>');">
  </div>
</div>

<div class="container">
  <p>Merci!</p>
</div>

<div class="card-button">
  <p><%= link_to "Retour",  root_path, class: "btn-erasmus" %></p>
</div>
