<div class="modal" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Pour accéder à la table ronde 1 <b>Le littoral ouest africain : à la croisée des enjeux de protection et d’exploitation</b> : 09h00 - 10h30 GMT (11h00 - 12h30 France) <%= link_to "cliquez ici", "https://app.imagina.io/module/213667/111255", target: "_blank" %></p>
        <p>Plus de 200 inscrits de 19 pays différents à l’ensemble des 3 tables rondes ! Pour échanger avec eux, n’hésitez pas à créer un compte sur la plateforme de l’événement en <%= link_to "cliquant ici", "https://app.imagina.io/account/login", target: "_blank" %></p>
        <p>Pour aller plus loin sur les enjeux qui seront abordés lors des conférences, consultez notre Story Map « Les enjeux majeurs du Littoral » en <%= link_to "cliquant ici", "https://app.imagina.io/module/216065/111255", target: "_blank" %></p>
      </div>
    </div>
  </div>
</div>
