// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$erasmus_blue: #004F99;
$erasmus_yellow: #FFED34;
$grdr_brown: #874607;
$grdr_medium_green: #7A8E00;
$grdr_red: #BD4B10;
$grdr_yellow: #DEAB35;
$grdr_orange: #DF844C;
$grdr_lighter_green: #00A873;
