// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$erasmus_blue: #04ACFA;
$erasmus_darkblue: #005198;
$erasmus_verylight_blue: #98d5ef;
$erasmus_yellow: #FFED34;
$erasmus_pink: #C73A8A;
$erasmus_green: #91BC0F;
$erasmus_orange: #FF9900;
$aquilogia_red: #BE1E2D;
