// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$erasmus_blue: #233862;
$erasmus_light_blue: #009EE2;
$erasmus_verylight_blue: #98d5ef;
$erasmus_yellow: #FFEC00;
$erasmus_pink: #DB3787;
$erasmus_green: #91BC0F;
$erasmus_orange: #FF9900;
