//Import Google fonts
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700|Work+Sans:400,700&display=swap');

// Define fonts for body and headers
$body-font: "Work Sans", "Helvetica", "sans-serif";
$headers-font: "Nunito", "Helvetica", "sans-serif";
$my-font: "Gotham";
$title-font: "SirinStencil";

@font-face {
  font-family: "Gotham";
  src: font-url('GothamRounded-Medium.otf');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Gotham";
  src: font-url('GothamRnd-Bold.otf');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Gotham";
  src: font-url('GothamRounded-Book.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Gotham";
  src: font-url('GothamRounded-Light.otf');
  font-weight: light;
  font-style: normal;
}

$my-font: "Gotham";

@font-face {
  font-family: "SirinStencil";
  src: font-url('SirinStencil-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

$title-font: "SirinStencil";
