.container-dashboard {
min-height: 530px;
max-width: 1200px;
margin-top: 50px;
margin-left: 100px;
margin-right: 100px;
margin-bottom: 50px;
}

.container-dashboard h1 {
  color: #009EE2;
  font: $my-font;
  text-align: left;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.title-dashboard {
  display: flex;
  justify-content: space-between;
}

.btn-back-dashboard {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 55px;
  background-color: $erasmus_yellow;
  color: $erasmus_blue;
  font-weight: bold;
  font: $my-font;
  padding: 10px;
  text-decoration: none;
}

.dashboard-options {
  display: flex;
  min-height: 500px;
  justify-content: space-around;
  align-items: center;
}

.btn-dashboard {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 250px;
  background-color: $erasmus_blue;
  color: white;
  font-weight: bold;
  font: $my-font;
  font-size: 24px;
  padding: 10px;
  text-decoration: none;
}

.btn-dashboard:hover {
  background-color: $erasmus_yellow;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
  color: white;
  background-color: $erasmus_blue;
  font: $my-font;
}

.nav>li>a:hover, .nav>li>a:focus {
  text-decoration: none;
  color: white;
  background-color: $erasmus_blue;
  font: $my-font;
}

.nav-pills>li>a {
  text-decoration: none;
  border-radius: 4px;
  color: grey;
  border-radius: 4px 4px 0 0;
}

.nav>li>a {
  text-decoration: none;
  position: relative;
  display: block;
  padding: 10px 15px;
  font: $my-font;
}

.table .thead-dark th {
  text-decoration: none;
  color: #fff;
  font-weight: normal;
  background-color: $erasmus_blue;
  font: $my-font;
}

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
  color: white;
  background-color: $erasmus_blue;
}

a {
  color: $erasmus_blue;
  font: $my-font;
}

.fas .fa-arrow-circle-down a {
  text-align: center;
  margin: auto;
}

.fas .fa-trash-alt a {
  color: $erasmus_blue;
  margin: auto;
}
