.container-dashboard {
min-height: 750px;
padding-top: 210px;
padding-bottom: 10px;
padding-left: 100px;
padding-right: 100px;
margin: 0 auto;
}

.container-dashboard h1 {
  color: $erasmus_blue;
  font-family: $my-font;
  text-align: left;
  font-size: 24px;
  font-weight: bold;
}

.title-dashboard {
  display: flex;
  justify-content: space-between;
}

.btn-back-dashboard {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 55px;
  background-color: $erasmus_blue;
  color: white;
  font-weight: bold;
  font-family: $my-font;
  padding: 10px;
  text-decoration: none;
}

.btn-back-dashboard:hover {
  background-color: white;
  border: solid $erasmus_blue;
  color: $erasmus_blue;
  text-decoration: none;
}

.dashboard-options {
  display: flex;
  min-height: 420px;
  justify-content: space-around;
  align-items: center;
}

.btn-dashboard {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 250px;
  background-color: $erasmus_pink;
  color: white;
  font-weight: bold;
  font-family: $my-font;
  font-size: 24px;
  padding: 10px;
  text-decoration: none;
}

.btn-dashboard:hover {
  background-color: white;
  border: solid $erasmus_pink;
  color: $erasmus_pink;
  text-decoration: none;
}

.button-export {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 125px;
  height: 50px;
  background-color: $erasmus_blue;
  color: white;
  font-weight: bold;
  font-family: $my-font;
  padding: 10px;
  text-decoration: none;
  margin-top : 10px;
  margin-bottom: 10px;
}

.button-export a {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: $my-font;
}

.button-export:hover {
  text-decoration: none;
  color: $erasmus_blue;
  background-color: white;
  border: solid $erasmus_blue;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
  color: white;
  background-color: $erasmus_pink;
  font-family: $my-font;
}

.nav>li>a:hover, .nav>li>a:focus {
  text-decoration: none;
  color: white;
  background-color: $erasmus_pink;
  font-family: $my-font;
}

.nav-pills>li>a {
  text-decoration: none;
  border-radius: 4px;
  color: #2b2a2a;
  border-radius: 4px 4px 0 0;
}

.nav>li>a {
  text-decoration: none;
  position: relative;
  display: block;
  padding: 10px 15px;
  font-family: $my-font;
}

.table .thead-dark th {
  text-decoration: none;
  color: #fff;
  font-weight: normal;
  background-color: $erasmus_pink;
  font-family: $my-font;
  border-color: $erasmus_pink;
}

.table td {
  color: black;
  font-weight: normal;
  font-family: $my-font;
}

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
  color: white;
  background-color: $erasmus_pink;
}

a {
  color: $erasmus_orange;
  font-family: $my-font;
}

.fas .fa-arrow-circle-down a {
  text-align: center;
  margin: auto;
}

.fas .fa-trash-alt a {
  color: $erasmus_pink;
  margin: auto;
}

.fas .fa-trash-alt a:hover {
  color: $erasmus_blue;
}

.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: $erasmus_pink;
    border-color: $erasmus_pink;
}

.page-item.disabled .page-link {
    z-index: 3;
    color: #2b2a2a
}
