.banner {
  @media (max-width: 575.98px)  {
    margin-top: 60px;
    height: 190px;
    background-position: left;
    background-size: cover;
  }
  @media (min-width: 576px) and (max-width: 767.98px) {
    margin-top: 60px;
    height: 390px;
    background-position: left;
    background-size: cover;
  }
  @media (min-width: 768px) and (max-width: 991.98px) {
    margin-top: 80px;
    height: 550px;
    background-position: left;
    background-size: cover;
  }
  @media (min-width: 992px) and (max-width: 1199.98px) {
    margin-top: 80px;
    height: 690px;
    background-position: left;
    background-size: cover;
  }
  @media (min-width: 1200px) and (max-width: 1499.98px) {
    margin-top: 80px;
    height: 790px;
    background-position: left;
    background-size: cover;
  }
  @media (min-width: 1500px) and (max-width: 1799.98px) {
    margin-top: 80px;
    height: 850px;
    background-position: left;
    background-size: cover;
  }
  @media (min-width: 1800px) and (max-width: 2099.98px) {
    margin-top: 80px;
    height: 930px;
    background-position: left;
    background-size: cover;
  }
  @media (min-width: 2100px) and (max-width: 2399.98px) {
    margin-top: 80px;
    height: 1100px;
    background-position: left;
    background-size: cover;
  }
  @media (min-width: 2400px) {
    margin-top: 90px;
    height: 1200px;
    background-position: left;
    background-size: cover;
  }
}

.banner-button-margin {
  @media (max-width: 575.98px)  {
    margin-left: 0px;
  }
  @media (min-width: 576px) and (max-width: 767.98px) {
    right: 30px;
  }
  @media (min-width: 768px) and (max-width: 991.98px) {
    right: 30px;
  }
  @media (min-width: 992px) and (max-width: 1199.98px) {
    right: 30px;
  }
  @media (min-width: 1200px) and (max-width: 1499.98px) {
    right: 30px;
  }
  @media (min-width: 1500px) and (max-width: 1799.98px) {
    right: 30px;
  }
  @media (min-width: 1800px) {
    right: 30px;
  }
}

.button-program {
  @media (max-width: 575.98px)  {
    display: none;
  }
  @media (min-width: 576px) and (max-width: 767.98px) {
    margin-top: 100px;
    margin-left: 1000px;
  }
  @media (min-width: 768px) and (max-width: 991.98px) {
    margin-top: 100px;
    margin-left: 1000px;
  }
  @media (min-width: 992px) and (max-width: 1199.98px) {
    margin-top: 100px;
    margin-left: 1000px;
  }
  @media (min-width: 1200px) and (max-width: 1499.98px) {
    margin-top: 100px;
    margin-left: 1000px;
  }
  @media (min-width: 1500px) and (max-width: 1799.98px) {
    margin-top: 100px;
    margin-left: 1000px;
  }
  @media (min-width: 1800px) {
    margin-top: 100px;
    margin-left: 1000px;
  }
}

.button-registration {
  @media (max-width: 575.98px)  {
    display: none;
  }
  @media (min-width: 576px) and (max-width: 767.98px) {
    margin-top: 50px;
  }
  @media (min-width: 768px) and (max-width: 991.98px) {
    margin-top: 50px;
  }
  @media (min-width: 992px) and (max-width: 1199.98px) {
    margin-top: 50px;
  }
  @media (min-width: 1200px) and (max-width: 1499.98px) {
    margin-top: 50px;
  }
  @media (min-width: 1500px) and (max-width: 1799.98px) {
    margin-top: 50px;
  }
  @media (min-width: 1800px) {
    margin-top: 50px;
  }
}

.form-check {
  padding-left: 0;
}

.form-check-label {
  margin-left: 50px;
}

input[type="checkbox"] {
  margin-left: 20px;
  cursor: pointer;
  }

input[type=checkbox]:before {
  content: "";
  display: block;
  position: absolute;
  width: 20px;
  height: 20px;
  top: 0;
  left: 0;
  background-color:#e9e9e9;
}
input[type=checkbox]:checked:before {
  content: "";
  display: block;
  position: absolute;
  width: 20px;
  height: 20px;
  top: 0;
  left: 0;
  background-color:$aquilogia_red;
}
input[type=checkbox]:checked:after {
  content: "";
  display: block;
  width: 7px;
  height: 12px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(35deg);
  -ms-transform: rotate(35deg);
  transform: rotate(35deg);
  position: absolute;
  top: 2px;
  left: 6px;
}

// .banner-button-margin {
//   display: flex;
//   flex-wrap: wrap;
//   justify-content: center;
//   align-items: center;
//   @media (max-width: 575.98px)  {
//     display: none;
//   }
//   @media (min-width: 576px) and (max-width: 767.98px) {
//     display: none;
//   }
//   @media (min-width: 768px) and (max-width: 991.98px) {
//     width: 250px;
//     // margin-left: 690px;
//     // margin-right: 20px;
//     left: 550px;
//   }
//   @media (min-width: 992px) and (max-width: 1199.98px) {
//     width: 300px;
//     // margin-left: 780px;
//     // margin-right: 20px;
//     left: 750px;
//   }
//   @media (min-width: 1200px) and (max-width: 1499.98px) {
//     width: 330px;
//     // margin-left: 1020px;
//     // margin-right: 20px;
//     left: 950px;
//   }
//   @media (min-width: 1500px) and (max-width: 1799.98px) {
//     width: 350px;
//     // margin-left: 1200px;
//     // margin-right: 40px;
//     left: 1200px;
//   }
//   @media (min-width: 1800px) {
//     width: 400px;
//     // margin-left: 1400px;
//     // margin-right: 20px;
//     left: 1500px;
//   }
// }

// .button-program {
//   display: flex;
//   align-items: center;
//   margin: 0 auto;
//   @media (max-width: 575.98px)  {
//     display: none;
//   }
//   @media (min-width: 576px) and (max-width: 767.98px) {
//     margin-top: 230px;
//   }
//   @media (min-width: 768px) and (max-width: 991.98px) {
//     margin-top: 260px;
//   }
//   @media (min-width: 992px) and (max-width: 1199.98px) {
//     margin-top: 390px;
//   }
//   @media (min-width: 1200px) and (max-width: 1499.98px) {
//     margin-top: 440px;
//   }
//   @media (min-width: 1500px) and (max-width: 1799.98px) {
//     margin-top: 540px;
//   }
//   @media (min-width: 1800px) {
//     margin-top: 620px;
//   }
// }

// .button-registration {
//   display: flex;
//   align-items: center;
//   margin: 0 auto;
//   @media (max-width: 575.98px)  {
//     display: none;
//   }
//   @media (min-width: 576px) and (max-width: 767.98px) {
//     margin-top: 20px;
//   }
//   @media (min-width: 768px) and (max-width: 991.98px) {
//     margin-top: 20px;
//   }
//   @media (min-width: 992px) and (max-width: 1199.98px) {
//     margin-top: 20px;
//   }
//   @media (min-width: 1200px) and (max-width: 1499.98px) {
//     margin-top: 20px;
//   }
//   @media (min-width: 1500px) and (max-width: 1799.98px) {
//     margin-top: 20px;
//   }
//   @media (min-width: 1800px) {
//     margin-top: 20px;
//   }
// }

.conference-presentation {
  background-color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  // box-shadow: 0px -4px 12px #CBD9F1;
  @media (max-width: 575.98px)  {
    padding-left: 10px;
    padding-right: 10px;
    // padding-top: 10px;
    padding-bottom: 10px;
  }
  @media (min-width: 576px) and (max-width: 767.98px) {
    padding-left: 15px;
    padding-right: 15px;
    // padding-top: 15px;
    padding-bottom: 10px;
  }
  @media (min-width: 768px) and (max-width: 991.98px) {
    padding-left: 20px;
    padding-right: 20px;
    // padding-top: 20px;
    padding-bottom: 10px;
  }
  @media (min-width: 992px) and (max-width: 1199.98px) {
    padding-left: 25px;
    padding-right: 25px;
    // padding-top: 25px;
    padding-bottom: 25px;
  }
  @media (min-width: 1200px) and (max-width: 1499.98px) {
    padding-left: 30px;
    padding-right: 30px;
    // padding-top: 30px;
    padding-bottom: 30px;
  }
  @media (min-width: 1500px) {
    padding-left: 50px;
    padding-right: 50px;
    // padding-top: 30px;
    padding-bottom: 30px;
  }
}

.conference-title h1 {
  color: $erasmus_blue;
  font-family: $my-font;
  font-weight: 600;
  @media (max-width: 575.98px)  {
    margin-top: 20px;
    font-size: 24px;
    padding: 10px;
  }
  @media (min-width: 576px) and (max-width: 767.98px) {
    margin-top: 10px;
    font-size: 26px;
    padding: 12px;
  }
  @media (min-width: 768px) and (max-width: 991.98px) {
    margin-top: 10px;
    font-size: 28px;
    padding: 15px;
  }
  @media (min-width: 992px) and (max-width: 1199.98px) {
    margin-top: 0px;
    font-size: 40px;
    padding: 17px;
  }
  @media (min-width: 1200px) {
    margin-top: 0px;
    font-size: 40px;
    padding: 20px;
  }
}

.conference-details {
  display: flex;
  justify-content: space-between;
  border: solid $erasmus_verylight_blue;
  @media (max-width: 575.98px) {
    padding: 10px;
    flex-wrap: wrap;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
  }
  @media (min-width: 576px) and (max-width: 767.98px) {
    padding: 15px;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 50px;
    margin-right: 50px;
  }
  @media (min-width: 768px) and (max-width: 991.98px) {
    padding: 20px;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 50px;
    margin-right: 50px;
  }
  @media (min-width: 992px) and (max-width: 1199.98px) {
    padding: 25px;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-bottom: 40px;
    margin-left: 100px;
    margin-right: 100px;
  }
  @media (min-width: 1200px) {
    padding: 30px;
    margin-top: 30px;
    margin-bottom: 40px;
    margin-left: 100px;
    margin-right: 100px;
  }
}

.webinar-image {
  display: flex;
  padding-top: 10px;
  @media (max-width: 575.98px)  {
    display: none;
  }
  @media (min-width: 576px) and (max-width: 767.98px) {
    justify-content: center;
    width: 110px;
  }
  @media (min-width: 768px) and (max-width: 991.98px) {
    justify-content: center;
    width: 120px;
  }
  @media (min-width: 992px) and (max-width: 1199.98px) {
    justify-content: flex-start;
    width: 180px;
  }
  @media (min-width: 1200px) {
    justify-content: flex-start;
    width: 180px;
  }
}

.webinar-image img {
  @media (max-width: 575.98px)  {
    display: none;
  }
  @media (min-width: 576px) and (max-width: 767.98px) {
    height: 90px;
  }
  @media (min-width: 768px) and (max-width: 991.98px) {
    height: 100px;
  }
  @media (min-width: 992px) and (max-width: 1199.98px) {
    height: 120px;
  }
  @media (min-width: 1200px) {
    height: 120px;
  }
}

.conference-text-presentation {
  display: flex;
  flex-direction: column;
  font-family: $my-font;
  @media (max-width: 575.98px)  {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
  }
  @media (min-width: 576px) and (max-width: 767.98px) {
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
  }
  @media (min-width: 768px) and (max-width: 991.98px) {
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
  }
  @media (min-width: 992px) and (max-width: 1199.98px) {
    padding-top: 10px;
    padding-left: 25px;
    padding-right: 25px;
  }
  @media (min-width: 1200px) {
    padding-top: 0px;
    padding-left: 30px;
    padding-right: 30px;
  }
}

.conference-text-presentation h1 {
  // display: flex;
  color: #2b2a2a;
  text-align: left;
  padding: 10px;
  font-weight: bold;
  font-family: $my-font;
  @media (max-width: 575.98px)  {
    font-size: 20px;
  }
  @media (min-width: 576px) and (max-width: 767.98px) {
    font-size: 20px;
  }
  @media (min-width: 768px) and (max-width: 991.98px) {
    font-size: 20px;
  }
  @media (min-width: 992px) and (max-width: 1199.98px) {
    font-size: 22px;
  }
  @media (min-width: 1200px) {
    font-size: 22px;
  }
}

.conference-text-presentation h2 {
  // display: flex;
  color: $erasmus_blue;
  text-align: center;
  padding: 10px;
  padding-top: 0px;
  font-size: 20px;
  text-decoration: none;
  font-family: $my-font;
  font-weight: 600;

  @media (max-width: 575.98px)  {
    font-size: 16px;
  }
  @media (min-width: 576px) and (max-width: 767.98px) {
    font-size: 17px;
  }
  @media (min-width: 768px) and (max-width: 991.98px) {
    font-size: 18px;
  }
  @media (min-width: 992px) and (max-width: 1199.98px) {
    font-size: 19px;
  }
  @media (min-width: 1200px) {
    font-size: 20px;
  }
}

.conference-text-presentation h3 {
  // display: flex;
  color: #2b2a2a;
  text-align: center;
  padding: 10px;
  padding-top: 0px;
  font-size: 20px;
  text-decoration: none;
  font-family: $my-font;
  @media (max-width: 575.98px)  {
    font-size: 16px;
  }
  @media (min-width: 576px) and (max-width: 767.98px) {
    font-size: 17px;
  }
  @media (min-width: 768px) and (max-width: 991.98px) {
    font-size: 18px;
  }
  @media (min-width: 992px) and (max-width: 1199.98px) {
    font-size: 19px;
  }
  @media (min-width: 1200px) {
    font-size: 20px;
  }
}

.conference-text-presentation h4 {
  display: flex;
  justify-content: center;
  @media (max-width: 575.98px)  {
    font-size: 16px;
  }
  @media (min-width: 576px) and (max-width: 767.98px) {
    font-size: 17px;
  }
  @media (min-width: 768px) and (max-width: 991.98px) {
    font-size: 18px;
  }
  @media (min-width: 992px) and (max-width: 1199.98px) {
    font-size: 19px;
  }
  @media (min-width: 1200px) {
    font-size: 20px;
  }
}

.conference-text-presentation p {
  // display: flex;
  color: $erasmus_darkblue;
  font-weight: medium;
  text-align: center;
  padding: 10px;
  padding-top: 0px;
  text-decoration: none;
  font-family: $my-font;
  @media (max-width: 575.98px)  {
    font-size: 16px;
  }
  @media (min-width: 576px) and (max-width: 767.98px) {
    font-size: 17px;
  }
  @media (min-width: 768px) and (max-width: 991.98px) {
    font-size: 18px;
  }
  @media (min-width: 992px) and (max-width: 1199.98px) {
    font-size: 19px;
  }
  @media (min-width: 1200px) {
    font-size: 20px;
  }
}

.conference-text-presentation p span {
  color: $erasmus-pink;
  font-family: $my-font;
  font-weight: 600;
  text-align: center;
  position: relative;
  z-index:0;
  @media (max-width: 575.98px)  {
    font-size: 16px;
  }
  @media (min-width: 576px) and (max-width: 767.98px) {
    font-size: 17px;
  }
  @media (min-width: 768px) and (max-width: 991.98px) {
    font-size: 18px;
  }
  @media (min-width: 992px) and (max-width: 1199.98px) {
    font-size: 19px;
  }
  @media (min-width: 1200px) {
    font-size: 20px;
  }
}

// .conference-text-presentation p span {
//   color: $erasmus-blue;
//   font-family: $my-font;
//   font-weight: 600;
//   text-align: center;
//   position: relative;
//   z-index:0;
//   @media (max-width: 575.98px)  {
//     font-size: 16px;
//   }
//   @media (min-width: 576px) and (max-width: 767.98px) {
//     font-size: 17px;
//   }
//   @media (min-width: 768px) and (max-width: 991.98px) {
//     font-size: 18px;
//   }
//   @media (min-width: 992px) and (max-width: 1199.98px) {
//     font-size: 19px;
//   }
//   @media (min-width: 1200px) {
//     font-size: 20px;
//   }
// }

// .conference-text-presentation span:after {
//   content: '';
//   height: 50%;
//   width: 100%;
//   position: absolute;
//   text-align: center;
//   right: 0;
//   left:0;
//   bottom: 0;
//   z-index:-2000;
//   @media (max-width: 575.98px)  {
//     background-color: white;
//   }
//   @media (min-width: 576px) and (max-width: 767.98px) {
//     background-color: white;
//   }
//   @media (min-width: 768px) and (max-width: 991.98px) {
//     background-color: $erasmus_yellow;
//   }
//   @media (min-width: 992px) and (max-width: 1199.98px) {
//     background-color: $erasmus_yellow;
//   }
//   @media (min-width: 1200px) {
//     background-color: $erasmus_yellow;
//   }
// }

.fleche-scroll {
  display: flex;
  position: absolute;
  height: 60px;
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
  @media (max-width: 575.98px)  {
    display: none;
  }
}

.home-registration {
  background-color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  @media (max-width: 575.98px)  {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  @media (min-width: 576px) and (max-width: 767.98px) {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 10px;
  }
  @media (min-width: 768px) and (max-width: 991.98px) {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 40px;
    padding-bottom: 10px;
  }
  @media (min-width: 992px) and (max-width: 1199.98px) {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 40px;
    padding-bottom: 10px;
  }
  @media (min-width: 1200px) {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.home-text {
  // display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  @media (max-width: 575.98px)  {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  @media (min-width: 576px) and (max-width: 767.98px) {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 10px;
  }
  @media (min-width: 768px) and (max-width: 991.98px) {
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 40px;
    padding-bottom: 10px;
  }
  @media (min-width: 992px) and (max-width: 1199.98px) {
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 50px;
    padding-bottom: 10px;
  }
  @media (min-width: 1200px) {
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 50px;
    padding-bottom: 10px;
  }
}

.home-text h1 {
  // display: flex;
  color: $aquilogia_red;
  font-family: $aquilogia-title;
  font-weight: bold;
  @media (max-width: 575.98px)  {
    margin-top: 20px;
    font-size: 24px;
    padding: 10px;
  }
  @media (min-width: 576px) and (max-width: 767.98px) {
    margin-top: 10px;
    font-size: 26px;
    padding: 12px;
  }
  @media (min-width: 768px) and (max-width: 991.98px) {
    margin-top: 10px;
    font-size: 28px;
    padding: 15px;
  }
  @media (min-width: 992px) and (max-width: 1199.98px) {
    margin-top: 0px;
    font-size: 40px;
    padding: 17px;
  }
  @media (min-width: 1200px) {
    margin-top: 0px;
    font-size: 40px;
    padding: 20px;
  }
}

.home-text p {
  // display: flex;
  color: black;
  font-weight: medium;
  text-align: center;
  padding-top: 0px;
  text-decoration: none;
  font-family: $aquilogia-text;
  @media (max-width: 575.98px)  {
    font-size: 12px;
  }
  @media (min-width: 576px) and (max-width: 767.98px) {
    font-size: 14px;
  }
  @media (min-width: 768px) and (max-width: 991.98px) {
    font-size: 16px;
  }
  @media (min-width: 992px) and (max-width: 1199.98px) {
    font-size: 18px;
  }
  @media (min-width: 1200px) {
    font-size: 20px;
  }
}
