.banner {
  padding-top: 50px;
  background-size: cover;
  background-position: center;
  height: 680px;
}

.banner-button-margin {
  @media (min-width: 1200px) {
    margin-left: 50px;
    justify-content: flex-start;
  }
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}

.button-program {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 320px;
  height: 55px;
  background-color: $erasmus_yellow;
  color: $erasmus_blue;
  font-weight: bold;
  font: $my-font;
  padding: 10px;
  text-decoration: none;
  @media (min-width: 1200px) {
    margin-top: 45px;
  }
  margin-top: 220px;
}

a:hover {
    text-decoration: none;
    color: orange;
}

.button-registration {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 320px;
  height: 55px;
  background-color: $erasmus_yellow;
  color: $erasmus_blue;
  font-weight: bold;
  font: $my-font;
  padding: 10px;
  text-decoration: none;
  @media (min-width: 1200px) {
    margin-top: 120px;
  }
  margin-top : 20px;
}

.button-questions {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 320px;
  height: 55px;
  background-color: $erasmus_blue;
  color: $erasmus_yellow;
  font-weight: bold;
  font: $my-font;
  padding: 10px;
  text-decoration: none;
  @media (min-width: 1200px) {
    margin-top: 120px;
  }
  margin-top : 20px;
}

.fleche-scroll {
  display: flex;
  position: absolute;
  height: 60px;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
}

.conference-presentation {
  background-color: white;
  text-align: center;
  padding: 30px;
  box-shadow: 0px -4px 12px #CBD9F1;
}

.conference-presentation h1 {
  color: $erasmus-blue;
  font-size: 32px;
  padding: 30px;
}

.conference-details {
  @media (min-width: 768px) {
    display: flex;
  }
  justify-content: space-between;
  border: solid $erasmus-yellow;
  padding: 10px;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: 70px;
  margin-right: 70px;
}

.webinar-image {
  display: flex;
  justify-content: center;
  padding-left: 20px;
  padding-top: 10px;
  width: 100px;
}

.conference-text-presentation {
  display: flex;
  flex-direction: column;
  padding-top: 0px;
  padding-left: 30px;
  padding-right: 0px;
  font: $my-font;
}


.conference-text-presentation h1 {
  display: flex;
  color: $erasmus-blue;
  text-align: left;
  padding: 10px;
  padding-bottom: 0px;
  font-size: 22px;
  font-weight: 600;
  font: $my-font;
}

.conference-text-presentation p {
  display: flex;
  color: $erasmus-blue;
  text-align: left;
  padding: 10px;
  padding-top: 0px;
  font-size: 20px;
  font: $my-font;
}
