.banner {
  padding-top: 0px;
  background-size: cover;
  background-position: center;
  height: 320px;
  padding: 20px;
}

a:hover {
    text-decoration: none;
    color: $grdr_brown;
}

.conference-presentation {
  background-color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  padding: 30px;
  box-shadow: 0px -4px 12px #CBD9F1;
}

.conference-title h1 {
  color: $grdr_brown;
  font: $my-font;
  font-weight: bold;
  font-size: 32px;
  padding: 20px;
}

.conference-details {
  @media (min-width: 768px) {
    display: flex;
  }
  justify-content: space-between;
  border: solid $grdr_medium_green;
  padding: 10px;
  margin-top: 30px;
  margin-bottom: 40px;
  margin-left: 70px;
  margin-right: 70px;
}

.webinar-image {
  display: flex;
  justify-content: center;
  padding-left: 20px;
  padding-top: 10px;
  width: 100px;
}

.conference-text-presentation {
  // display: flex;
  // flex-direction: column;
  padding-top: 0px;
  padding-left: 30px;
  padding-right: 0px;
  font: $my-font;
}


.conference-text-presentation h1 {
  // display: flex;
  color: $grdr_medium_green;
  text-align: left;
  padding: 10px;
  padding-bottom: 0px;
  font-size: 22px;
  font-weight: 600;
  font: $my-font;
}

.conference-text-presentation p {
  // display: flex;
  color: #2b2a2a;
  text-align: left;
  padding: 10px;
  padding-top: 0px;
  font-size: 20px;
  font: $my-font;
}

.conference-text-presentation a {
  color: $erasmus-blue;
  font-size: 20px;
  font-weight: 600;
  text-decoration: underline;
  font: $my-font;
}

.conference-text-presentation a:hover {
  color: $grdr_orange;
}

.button-registration {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 320px;
  height: 55px;
  background-color: $grdr_medium_green;
  color: white;
  font-weight: bold;
  font: $my-font;
  padding: 10px;
  text-decoration: none;
  margin-top : 20px;
  margin-bottom: 20px;
}

.button-registration a {
  display: flex;
  justify-content: center;
  align-items: center;
}

// .banner-button-margin {
//   @media (min-width: 1200px) {
//     margin-left: 50px;
//     justify-content: flex-start;
//   }
//   margin-left: auto;
//   margin-right: auto;
//   justify-content: center;
// }

// .button-program {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   width: 320px;
//   height: 55px;
//   background-color: $grdr_medium_green;
//   color: white;
//   font-weight: bold;
//   font: $my-font;
//   padding: 10px;
//   text-decoration: none;
//   @media (min-width: 1200px) {
//     margin-top: 45px;
//   }
//   margin-top: 220px;
// }

// .button-registration {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   width: 320px;
//   height: 55px;
//   background-color: $grdr_medium_green;
//   color: white;
//   font-weight: bold;
//   font: $my-font;
//   padding: 10px;
//   text-decoration: none;
//   @media (min-width: 1200px) {
//     margin-top: 120px;
//   }
//   margin-top : 20px;
// }

// .button-questions {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   width: 320px;
//   height: 55px;
//   background-color: $grdr_medium_green;
//   color: white;
//   font-weight: bold;
//   font: $my-font;
//   padding: 10px;
//   text-decoration: none;
//   @media (min-width: 1200px) {
//     margin-top: 120px;
//   }
//   margin-top : 20px;
// }

.fleche-scroll {
  display: flex;
  position: absolute;
  height: 60px;
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
}

