.banner-registration {
  background-size: cover;
  background-position: center;
  height: 320px;
}

.registration {
  background-color: white;
  position: relative;
  padding-top: 50px;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 40px;
  text-align: center;
  box-shadow: 0 4px 12px 0 #cfd8a9;
  z-index:-2;
}

.registration h5 {
  color: #2b2a2a;
  font-size: 20px;
  font-weight: 600;
  position: relative;
  z-index:0;
}

.registration span {
  color: #2b2a2a;
  font: $my-font;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  position: relative;
  z-index:0;
}

.registration span:after {
  content: '';
  height: 50%;
  width: 100%;
  position: absolute;
  text-align: center;
  right: 0;
  left:0;
  bottom: 0;
  z-index:-1;
  background-color: $erasmus-yellow;
}

.registration p {
  padding-top: 10px;
  color: #2b2a2a;
  font-size: 20px;
  font-weight: normal;
}

.participant-infos {
  @media (min-width: 768px) {
    display: flex;
  }
  flex-direction: row;
  border: solid $grdr_medium_green;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 60px;
  margin-bottom: 60px;
}

.registration-image {
  display: flex;
  margin-top: 30px;
  margin-bottom: 20px;
  justify-content: center;
}

.new-participant-form {
  @media (min-width: 1200px) {
  width: 82%;
  }
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  color: grey;
  padding: 30px;
}

#participant_email {
  display: flex;
  box-shadow: 0 4px 4px 0 #cfd8a9;
  color: grey;
  font: $my-font;
  background-color: white;
}

#participant_company {
  display: flex;
  box-shadow: 0 4px 4px 0 #cfd8a9;
  color: grey;
  font: $my-font;
  background-color: white;
}

#participant_position {
  display: flex;
  box-shadow: 0 4px 4px 0 #cfd8a9;
  color: grey;
  font: $my-font;
  background-color: white;
}

#participant_organization {
  display: flex;
  box-shadow: 0 4px 4px 0 #cfd8a9;
  color: grey;
  font: $my-font;
  background-color: white;
}

#participant_first_name {
  display: flex;
  box-shadow: 0 4px 4px 0 #cfd8a9;
  color: grey;
  font: $my-font;
  background-color: white;
}

#participant_last_name {
  display: flex;
  box-shadow: 0 4px 4px 0 #cfd8a9;
  color: grey;
  font: $my-font;
  background-color: white;
}

// #participant_address {
//   display: flex;
//   margin-top: 10px;
//   box-shadow: 0 4px 4px 0 #cfd8a9;
//   color: grey;
//   font: $my-font;
//   background-color: white;
// }

// #participant_zipcode {
//   display: flex;
//   box-shadow: 0 4px 4px 0 #cfd8a9;
//   color: grey;
//   font: $my-font;
//   background-color: white;
// }

// #participant_city {
//   display: flex;
//   box-shadow: 0 4px 4px 0 #cfd8a9;
//   color: grey;
//   font: $my-font;
//   background-color: white;
// }

.fleche-scroll-registration img {
  display: flex;
  position: absolute;
  margin-top: -20px;
  left: 50%;
  transform: translateX(-50%);
}

.workshop-choices {
  background-color: #F4F7FD;
  background-position: relative;
  z-index: -3;
  box-shadow: 0 4px 12px 0 #cfd8a9;
  padding-left : 100px;
  padding-right : 100px;
  padding-top: 40px;
  padding-bottom: 40px;
  justify-content: center;
}

.date-highlighted-yellow span {
  color: $erasmus-blue;
  font: $my-font;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
  font-weight: 600;
  font-size: 24px;
  position: relative;
  z-index:0;
}

.date-highlighted-yellow span:after {
  content: '';
  height: 50%;
  width: 100%;
  position: absolute;
  text-align: center;
  right: 0;
  left:0;
  bottom: 0;
  z-index:-1;
  background-color: $erasmus-yellow;
}

.workshop-choices h1 {
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: #009EE2;
  font-size: 24px;
  font: $my-font;
  font-weight: 600;
}

.my-check-box h1 {
  text-align: center;
  color: #009EE2;
  font-size: 16px;
  font: $my-font;
  font-weight: 600;
}

.my-check-box p {
  text-align: center;
  color: black;
  font-size: 16px;
  font: $my-font;
  font-weight: normal;
  padding-left: 50px;
  padding-right: 50px;
}

.bg-red {
  background-color: #CBD9F2;
}

.my-check-box {
  border: solid $erasmus-blue;
  padding: 10px;
  margin: 5px;
  cursor: pointer;
}

.cookies-erasmus-participant {
  display: inline-block;
  color: #2b2a2a;
  margin-top: 20px;
  margin-left: 10px;
}

.button-valid-registration {
  display: flex;
  justify-content: center;
  font: $my-font;
  padding-top: 40px;
  padding-bottom: 40px;
  margin: auto;
}
