.banner-registration {
  @media (max-width: 575.98px)  {
    margin-top: 80px;
    height: 110px;
    background-position: center;
    background-size: cover;
  }
  @media (min-width: 576px) and (max-width: 767.98px) {
    margin-top: 60px;
    height: 190px;
    background-position: center;
    background-size: cover;
  }
  @media (min-width: 768px) and (max-width: 991.98px) {
    margin-top: 60px;
    height: 250px;
    background-position: center;
    background-size: cover;
  }
  @media (min-width: 992px) and (max-width: 1199.98px) {
    margin-top: 60px;
    height: 300px;
    background-position: center;
    background-size: cover;
  }
  @media (min-width: 1200px) and (max-width: 1499.98px) {
    margin-top: 60px;
    height: 350px;
    background-position: center;
    background-size: cover;
  }
  @media (min-width: 1500px) {
    margin-top: 60px;
    height: 400px;
    background-position: center;
    background-size: cover;
  }
}

.conference-registration {
  background-color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  @media (max-width: 575.98px)  {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  @media (min-width: 576px) and (max-width: 767.98px) {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 10px;
  }
  @media (min-width: 768px) and (max-width: 991.98px) {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  @media (min-width: 992px) and (max-width: 1199.98px) {
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  @media (min-width: 1200px) {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.participant {
  @media (max-width: 575.98px)  {
    padding: 10px;
  }
  @media (min-width: 576px) and (max-width: 767.98px) {
    padding: 10px;
  }
  @media (min-width: 768px) and (max-width: 991.98px) {
    padding: 20px;
  }
  @media (min-width: 992px) and (max-width: 1199.98px) {
    padding: 25px;
  }
  @media (min-width: 1200px) {
    padding: 25px;
  }
}

.participant-infos {
  display: flex;
  justify-content: center;
  border: solid $erasmus_blue;
  flex-wrap: wrap;
  @media (max-width: 575.98px) {
    padding: 10px;
    flex-wrap: wrap;
    font-size: 16px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
  }
  @media (min-width: 576px) and (max-width: 767.98px) {
    padding: 15px;
    flex-wrap: wrap;
    font-size: 16px;
    margin-bottom: 20px;
    margin-left: 35px;
    margin-right: 35px;
  }
  @media (min-width: 768px) and (max-width: 991.98px) {
    padding: 20px;
    flex-wrap: wrap;
    font-size: 20px;
    margin-bottom: 20px;
    margin-left: 35px;
    margin-right: 35px;
  }
  @media (min-width: 992px) and (max-width: 1199.98px) {
    padding: 25px;
    flex-wrap: wrap;
    font-size: 20px;
    margin-bottom: 40px;
    margin-left: 70px;
    margin-right: 70px;
  }
  @media (min-width: 1200px) and (max-width: 1499.98px) {
    padding: 30px;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 40px;
    margin-left: 70px;
    margin-right: 70px;
  }
    @media (min-width: 1500px) {
    padding: 40px;
    font-size: 22px;
    margin-top: 10px;
    margin-bottom: 40px;
    margin-left: 100px;
    margin-right: 100px;
  }
}

.registration-image {
  display: flex;
  margin-bottom: 20px;
  justify-content: center;
  width: 20%;
  @media (max-width: 575.98px)  {
    width: 0%;
  }
  @media (min-width: 992px) and (min-width: 1500px) {
    width: 15%;
    margin-top: 30px;
  }
}

.registration-image img {
  @media (max-width: 575.98px)  {
    display: none;
  }
  @media (min-width: 576px) and (max-width: 767.98px) {
    height: 80px;
  }
  @media (min-width: 768px) and (max-width: 991.98px) {
    height: 100px;
  }
  @media (min-width: 992px) and (max-width: 1199.98px) {
    height: 140px;
  }
  @media (min-width: 1200px) and (max-width: 1499.98px) {
    height: 150px;
  }
  @media (min-width: 1500px) {
    height: 160px;
  }
}

.participant-registration {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 80%;
  @media (max-width: 575.98px)  {
    width: 100%;
  }
  @media (min-width: 1500px) {
    width: 85%;
  }
}

.new-participant-form {
  @media (max-width: 575.98px)  {
    padding-bottom: 10px;
  }
  @media (min-width: 576px) and (max-width: 767.98px) {
    padding-bottom: 15px;
  }
  @media (min-width: 768px) and (max-width: 991.98px) {
    padding-bottom: 20px;
  }
  @media (min-width: 992px) and (max-width: 1199.98px) {
    padding-bottom: 25px;
  }
  @media (min-width: 1200px) {
    padding-bottom: 30px;
  }
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  color: #2b2a2a;
  border-bottom: solid 1px $erasmus_pink;
}

.participant-names {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  flex-wrap: wrap;
}

#participant_first_name {
  display: flex;
  box-shadow: 0 4px 4px 0 $erasmus_verylight_blue;
  color: #2b2a2a;
  font-family: $my-font;
  background-color: white;
  @media (max-width: 575.98px)  {
    font-size: 12px;
  }
  @media (min-width: 576px) and (max-width: 767.98px) {
    font-size: 14px;
  }
  @media (min-width: 768px) and (max-width: 991.98px) {
    font-size: 16px;
  }
  @media (min-width: 992px) and (max-width: 1199.98px) {
    font-size: 18px;
  }
  @media (min-width: 1200px) {
    font-size: 20px;
  }
}

#participant_last_name {
  display: flex;
  box-shadow: 0 4px 4px 0 $erasmus_verylight_blue;
  color: #2b2a2a;
  font-family: $my-font;
  background-color: white;
  @media (max-width: 575.98px)  {
    font-size: 12px;
  }
  @media (min-width: 576px) and (max-width: 767.98px) {
    font-size: 14px;
  }
  @media (min-width: 768px) and (max-width: 991.98px) {
    font-size: 16px;
  }
  @media (min-width: 992px) and (max-width: 1199.98px) {
    font-size: 18px;
  }
  @media (min-width: 1200px) {
    font-size: 20px;
  }
}

#participant_email {
  display: flex;
  box-shadow: 0 4px 4px 0 $erasmus_verylight_blue;
  color: #2b2a2a;
  font-family: $my-font;
  background-color: white;
  @media (max-width: 575.98px)  {
    font-size: 12px;
  }
  @media (min-width: 576px) and (max-width: 767.98px) {
    font-size: 14px;
  }
  @media (min-width: 768px) and (max-width: 991.98px) {
    font-size: 16px;
  }
  @media (min-width: 992px) and (max-width: 1199.98px) {
    font-size: 18px;
  }
  @media (min-width: 1200px) {
    font-size: 20px;
  }
}

.other-participant-info {
  @media (max-width: 575.98px)  {
    padding-top: 25px;
  }
  @media (min-width: 576px) and (max-width: 767.98px) {
    padding-top: 25px;
  }
  @media (min-width: 768px) and (max-width: 991.98px) {
    padding-top: 25px;
  }
  @media (min-width: 992px) and (max-width: 1199.98px) {
    padding-top: 25px;
  }
  @media (min-width: 1200px) {
    padding-top: 30px;
  }
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  color: #2b2a2a;
}

.participant-functions {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  flex-wrap: wrap;
  @media (max-width: 575.98px)  {
    padding-bottom: 10px;
  }
  @media (min-width: 576px) and (max-width: 767.98px) {
    padding-bottom: 15px;
  }
  @media (min-width: 768px) and (max-width: 991.98px) {
    padding-bottom: 20px;
  }
  @media (min-width: 992px) and (max-width: 1199.98px) {
    padding-bottom: 25px;
  }
  @media (min-width: 1200px) {
    padding-bottom: 30px;
  }
  border-bottom: solid 1px $erasmus_pink;
}

#participant_organization {
  display: flex;
  box-shadow: 0 4px 4px 0 $erasmus_verylight_blue;
  color: #2b2a2a;
  font-family: $my-font;
  background-color: white;
  @media (max-width: 575.98px)  {
    font-size: 12px;
  }
  @media (min-width: 576px) and (max-width: 767.98px) {
    font-size: 12px;
  }
  @media (min-width: 768px) and (max-width: 991.98px) {
    font-size: 16px;
  }
  @media (min-width: 992px) and (max-width: 1199.98px) {
    font-size: 16px;
  }
  @media (min-width: 1200px) {
    font-size: 20px;
  }
}

#participant_oid_code {
  display: flex;
  box-shadow: 0 4px 4px 0 $erasmus_verylight_blue;
  color: #2b2a2a;
  font-family: $my-font;
  background-color: white;
  @media (max-width: 575.98px)  {
    font-size: 12px;
  }
  @media (min-width: 576px) and (max-width: 767.98px) {
    font-size: 12px;
  }
  @media (min-width: 768px) and (max-width: 991.98px) {
    font-size: 16px;
  }
  @media (min-width: 992px) and (max-width: 1199.98px) {
    font-size: 16px;
  }
  @media (min-width: 1200px) {
    font-size: 20px;
  }
}

#participant_service {
  display: flex;
  box-shadow: 0 4px 4px 0 $erasmus_verylight_blue;
  color: #2b2a2a;
  font-family: $my-font;
  background-color: white;
  @media (max-width: 575.98px)  {
    font-size: 12px;
  }
  @media (min-width: 576px) and (max-width: 767.98px) {
    font-size: 12px;
  }
  @media (min-width: 768px) and (max-width: 991.98px) {
    font-size: 16px;
  }
  @media (min-width: 992px) and (max-width: 1199.98px) {
    font-size: 16px;
  }
  @media (min-width: 1200px) {
    font-size: 20px;
  }
}

#participant_position {
  display: flex;
  box-shadow: 0 4px 4px 0 $erasmus_verylight_blue;
  color: #2b2a2a;
  font-family: $my-font;
  background-color: white;
  @media (max-width: 575.98px)  {
    font-size: 12px;
  }
  @media (min-width: 576px) and (max-width: 767.98px) {
    font-size: 12px;
  }
  @media (min-width: 768px) and (max-width: 991.98px) {
    font-size: 16px;
  }
  @media (min-width: 992px) and (max-width: 1199.98px) {
    font-size: 16px;
  }
  @media (min-width: 1200px) {
    font-size: 20px;
  }
}

#participant_city {
  display: flex;
  box-shadow: 0 4px 4px 0 $erasmus_verylight_blue;
  color: #2b2a2a;
  font-family: $my-font;
  background-color: white;
  @media (max-width: 575.98px)  {
    font-size: 12px;
  }
  @media (min-width: 576px) and (max-width: 767.98px) {
    font-size: 12px;
  }
  @media (min-width: 768px) and (max-width: 991.98px) {
    font-size: 16px;
  }
  @media (min-width: 992px) and (max-width: 1199.98px) {
    font-size: 16px;
  }
  @media (min-width: 1200px) {
    font-size: 20px;
  }
}

#participant_region {
  display: flex;
  box-shadow: 0 4px 4px 0 $erasmus_verylight_blue;
  color: #2b2a2a;
  font-family: $my-font;
  background-color: white;
  @media (max-width: 575.98px)  {
    font-size: 12px;
  }
  @media (min-width: 576px) and (max-width: 767.98px) {
    font-size: 12px;
  }
  @media (min-width: 768px) and (max-width: 991.98px) {
    font-size: 16px;
  }
  @media (min-width: 992px) and (max-width: 1199.98px) {
    font-size: 16px;
  }
  @media (min-width: 1200px) {
    font-size: 20px;
  }
}

.participant-requests {
  flex-wrap: wrap;
  @media (max-width: 575.98px)  {
    padding-top: 10px;
  }
  @media (min-width: 576px) and (max-width: 767.98px) {
    padding-top: 15px;
  }
  @media (min-width: 768px) and (max-width: 991.98px) {
    padding-top: 20px;
  }
  @media (min-width: 992px) and (max-width: 1199.98px) {
    padding-top: 25px;
  }
  @media (min-width: 1200px) {
    padding-top: 30px;
  }
}

#participant_request {
  display: flex;
  box-shadow: 0 4px 4px 0 $erasmus_verylight_blue;
  color: #2b2a2a;
  font-family: $my-font;
  background-color: white;
  @media (max-width: 575.98px)  {
    font-size: 12px;
  }
  @media (min-width: 576px) and (max-width: 767.98px) {
    font-size: 12px;
  }
  @media (min-width: 768px) and (max-width: 991.98px) {
    font-size: 16px;
  }
  @media (min-width: 992px) and (max-width: 1199.98px) {
    font-size: 16px;
  }
  @media (min-width: 1200px) {
    font-size: 20px;
  }
}

.cookies-erasmus-participant {
  display: inline-block;
  color: #2b2a2a;
  font-family: $my-font;
  @media (max-width: 575.98px)  {
    font-size: 12px;
    margin-left: 10px;
    margin-right: 30px;
    margin-top: 20px;
  }
  @media (min-width: 576px) and (max-width: 767.98px) {
    font-size: 14px;
    margin-left: 10px;
    margin-right: 30px;
    margin-top: 20px;
  }
  @media (min-width: 768px) and (max-width: 991.98px) {
    font-size: 16px;
    margin-left: 10px;
    margin-right: 50px;
    margin-top: 20px;
  }
  @media (min-width: 992px) and (max-width: 1199.98px) {
    font-size: 18px;
    margin-left: 10px;
    margin-right: 80px;
    margin-top: 20px;
  }
  @media (min-width: 1200px) and (max-width: 1499.98px) {
    font-size: 20px;
    margin-left: 10px;
    margin-right: 100px;
    margin-top: 20px;
  }
  @media (min-width: 1500px) {
    font-size: 20px;
    margin-left: 10px;
    margin-right: 150px;
    margin-top: 20px;
  }
}

.button-valid {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}


.new-participant-subscription {
  display: inline-block;
  margin-top: 20px;
  font-family: $my-font;
  color: #2b2a2a;
  @media (max-width: 575.98px)  {
    font-size: 12px;
    margin-left: 30px;
    margin-right: 30px;
  }
  @media (min-width: 576px) and (max-width: 767.98px) {
    font-size: 12px;
    margin-left: 30px;
    margin-right: 30px;
  }
  @media (min-width: 768px) and (max-width: 991.98px) {
    font-size: 16px;
    margin-left: 50px;
    margin-right: 50px;
  }
  @media (min-width: 992px) and (max-width: 1199.98px) {
    font-size: 16px;
    margin-left: 80px;
    margin-right: 80px;
  }
  @media (min-width: 1200px) and (max-width: 1499.98px) {
    font-size: 20px;
    margin-left: 80px;
    margin-right: 80px;
  }
  @media (min-width: 1500px) {
    font-size: 20px;
    margin-left: 100px;
    margin-right: 100px;
  }
}

.new-participant-subscription p {
  color: grey;
  font-family: $my-font;
  font-weight: bold;
  font-size: 16px;
  margin-top: 0px;
  margin-bottom: 16px;
}

textarea.form-control {
  height: 50px;
}

.form-control {
  height: 50px;
}
