.event-presentation {
  min-height: calc(100vh - 280px);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: stretch;
  justify-content: center;
  @media (max-width: 575.98px)  {
    margin-left: 10px;
    margin-right: 10px;
  }
  @media (min-width: 576px) and (max-width: 767.98px) {
    margin-left: 20px;
    margin-right: 20px;
  }
  @media (min-width: 768px) and (max-width: 991.98px) {
    margin-left: 20px;
    margin-right: 20px;
  }
  @media (min-width: 992px) and (max-width: 1199.98px) {
    margin-left: 80px;
    margin-right: 80px;
  }
  @media (min-width: 1200px) {
    margin-left: 80px;
    margin-right: 80px;
  }
}

.event-presentation-text {
  justify-content: center;
  position: relative;
  z-index:0;
  @media (max-width: 575.98px) {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  @media (min-width: 576px) and (max-width: 767.98px) {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
  }
  @media (min-width: 768px) and (max-width: 991.98px) {
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 40px;
    margin-bottom: 20px;
  }
  @media (min-width: 992px) and (max-width: 1199.98px) {
    width: 70%;
    margin-top: 60px;
    margin-bottom: 20px;
    padding-right: 20px;
  }
  @media (min-width: 1200px) {
    width: 70%;
    margin-top: 60px;
    margin-bottom: 20px;
    padding-right: 20px;
  }
}

.event-presentation-text h1 {
  color: $erasmus_blue;
  font-family: $my-font;
  position: relative;
  z-index:0;
  font-weight: bold;
  justify-content: center;
  @media (max-width: 575.98px)  {
    font-size: 18px;
  }
  @media (min-width: 576px) and (max-width: 767.98px) {
    font-size: 20px;
  }
  @media (min-width: 768px) and (max-width: 991.98px) {
    font-size: 22px;
  }
  @media (min-width: 992px) and (max-width: 1199.98px) {
    font-size: 22px;
  }
  @media (min-width: 1200px) and (max-width: 1499.98px) {
    font-size: 24px;
  }
  @media (min-width: 1500px) and (max-width: 1799.98px) {
    font-size: 24px;
  }
  @media (min-width: 1800px) {
    font-size: 24px;
  }
}

.event-presentation-text p {
  color: #2b2a2a;
  font-family: $my-font;
  position: relative;
  z-index:0;
  font-weight: normal;
  justify-content: center;
  @media (max-width: 575.98px)  {
    font-size: 16px;
  }
  @media (min-width: 576px) and (max-width: 767.98px) {
    font-size: 16px;
  }
  @media (min-width: 768px) and (max-width: 991.98px) {
    font-size: 16px;
  }
  @media (min-width: 992px) and (max-width: 1199.98px) {
    font-size: 18px;
  }
  @media (min-width: 1200px) {
    font-size: 18px;
  }
}

.event-presentation-image {
  display: flex;
  flex-direction: column;
  @media (max-width: 575.98px) {
    width: 90%;
    margin-top: 10px;
    margin-bottom: 30px;
    justify-content: center;
  }
  @media (min-width: 576px) and (max-width: 767.98px) {
    width: 90%;
    margin-top: 10px;
    margin-bottom: 30px;
    justify-content: center;
  }
  @media (min-width: 768px) and (max-width: 991.98px) {
    width: 55%;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  @media (min-width: 992px) and (max-width: 1199.98px) {
    width: 30%;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  @media (min-width: 1200px) {
    width: 30%;
  }
}

.event-presentation-image img {
  display: flex;
  filter: drop-shadow(3px 3px 4px grey);
  margin: 10px;
  @media (max-width: 575.98px)  {
    width: 250px;
  }
  @media (min-width: 576px) and (max-width: 767.98px) {
    width: 270px;
  }
  @media (min-width: 768px) and (max-width: 991.98px) {
    width: 290px;
  }
  @media (min-width: 992px) and (max-width: 1199.98px) {
    width: 310px;
  }
  @media (min-width: 1200px) and (max-width: 1499.98px) {
    width: 330px;
  }
  @media (min-width: 1500px) and (max-width: 1799.98px) {
    width: 360px;
  }
  @media (min-width: 1800px) {
    width: 390px;
  }
}

.presentation-body {
  padding-top: 30px;
  width: 100%;
}

.presentation-body h1 {
  font-family: $my-font;
  margin: 0px;
  color: #009EE2;
  font-weight: bold;
  @media (max-width: 575.98px)  {
    font-size: 18px;
  }
  @media (min-width: 576px) and (max-width: 767.98px) {
    font-size: 20px;
  }
  @media (min-width: 768px) and (max-width: 991.98px) {
    font-size: 22px;
  }
  @media (min-width: 992px) and (max-width: 1199.98px) {
    font-size: 22px;
  }
  @media (min-width: 1200px) and (max-width: 1499.98px) {
    font-size: 24px;
  }
  @media (min-width: 1500px) and (max-width: 1799.98px) {
    font-size: 24px;
  }
  @media (min-width: 1800px) {
    font-size: 24px;
  }
}

.presentation-body h2 {
  font-family: $my-font;
  color: $erasmus-blue;
  font-weight: bold;
  margin-bottom: 15px;
  @media (max-width: 575.98px)  {
    font-size: 16px;
  }
  @media (min-width: 576px) and (max-width: 767.98px) {
    font-size: 18px;
  }
  @media (min-width: 768px) and (max-width: 991.98px) {
    font-size: 18px;
  }
  @media (min-width: 992px) and (max-width: 1199.98px) {
    font-size: 18px;
  }
  @media (min-width: 1200px) and (max-width: 1499.98px) {
    font-size: 20px;
  }
  @media (min-width: 1500px) and (max-width: 1799.98px) {
    font-size: 20px;
  }
  @media (min-width: 1800px) {
    font-size: 20px;
  }
}

.presentation-body h3 {
  font-family: $my-font;
  margin: 0px;
  color: black;
  font-weight: thin;
  margin-bottom: 15px;
  @media (max-width: 575.98px)  {
    font-size: 16px;
  }
  @media (min-width: 576px) and (max-width: 767.98px) {
    font-size: 18px;
  }
  @media (min-width: 768px) and (max-width: 991.98px) {
    font-size: 18px;
  }
  @media (min-width: 992px) and (max-width: 1199.98px) {
    font-size: 18px;
  }
  @media (min-width: 1200px) and (max-width: 1499.98px) {
    font-size: 20px;
  }
  @media (min-width: 1500px) and (max-width: 1799.98px) {
    font-size: 20px;
  }
  @media (min-width: 1800px) {
    font-size: 20px;
  }
}

.presentation-body h3 span {
  font-family: $my-font;
  color: $erasmus_blue;
  font-weight: normal;
  margin-bottom: 15px;
  @media (max-width: 575.98px)  {
    font-size: 16px;
  }
  @media (min-width: 576px) and (max-width: 767.98px) {
    font-size: 18px;
  }
  @media (min-width: 768px) and (max-width: 991.98px) {
    font-size: 18px;
  }
  @media (min-width: 992px) and (max-width: 1199.98px) {
    font-size: 18px;
  }
  @media (min-width: 1200px) and (max-width: 1499.98px) {
    font-size: 20px;
  }
  @media (min-width: 1500px) and (max-width: 1799.98px) {
    font-size: 20px;
  }
  @media (min-width: 1800px) {
    font-size: 20px;
  }
}

.presentation-body p {
  font-family: $my-font;
  color: black;
  font-weight: normal;
  max-width: 1050px;
  @media (max-width: 575.98px)  {
    font-size: 16px;
  }
  @media (min-width: 576px) and (max-width: 767.98px) {
    font-size: 18px;
  }
  @media (min-width: 768px) and (max-width: 991.98px) {
    font-size: 18px;
  }
  @media (min-width: 992px) and (max-width: 1199.98px) {
    font-size: 18px;
  }
  @media (min-width: 1200px) and (max-width: 1499.98px) {
    font-size: 20px;
  }
  @media (min-width: 1500px) and (max-width: 1799.98px) {
    font-size: 20px;
  }
  @media (min-width: 1800px) {
    font-size: 20px;
  }
}
