.banner-program {
  @media (max-width: 575.98px)  {
  height: 190px;
  background-position: center;
  background-size: cover;
  }
  @media (min-width: 576px) and (max-width: 767.98px) {
    height: 240px;
    background-position: center;
    background-size: cover;
  }
  @media (min-width: 768px) and (max-width: 991.98px) {
    height: 310px;
    background-position: center;
    background-size: cover;
  }
  @media (min-width: 992px) and (max-width: 1199.98px) {
    margin-top: 10px;
    height: 350px;
    background-position: center;
    background-size: cover;
  }
  @media (min-width: 1200px) and (max-width: 1499.98px) {
    margin-top: 10px;
    height: 390px;
    background-position: center;
    background-size: cover;
  }
  @media (min-width: 1500px) {
    height: 470px;
    background-position: center;
    background-size: cover;
  }
}

.program {
  display: flex;
  flex-direction: column;
  z-index: -4;
}

.container-program-date1 {
  display: flex;
  background-color: $erasmus_pink;
}

// .date1 {
//   width: 20%;
//   padding-top: 30px;
//   display: flex;
//   justify-content: flex-start;
//   flex-direction: column;
// }

.date1-text {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin-top: 30px;
  margin-left: 50px;
  margin-right: 50px;
  border-left: solid 7px $erasmus_yellow;
  padding-left: 20px;
  padding-top: 10px;
}

.date1-text p {
  font-family: $my-font;
  color: white;
  font-size: 30px;
  font-weight: bold;
}

.date1-picto img {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  height: 160px;
  margin-top: 30px;
  margin-left: 50px;
  margin-right: 50px;
}

.contenu-date1 {
  width: 80%;
  display: flex;
  justify-content: flex-start;
}

.container-program-date2 {
  display: flex;
  background-color: $erasmus-blue;
  justify-content: flex-end;
}

.contenu-date2 {
  width: 80%;
  display: flex;
  justify-content: right;
}

// .date2 {
//   display: flex;
//   justify-content: flex-start;
//   flex-direction: column;
// }

.date2-text img {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  height: 120px;
  margin-top: 30px;
  margin-left: 50px;
  margin-right: 50px;
}

.date2-picto img {
  height: 180px;
  margin-top: 30px;
  margin-left: 65px;
}

.card {
  width: 100%;
  border: solid white,
}

.card-body {
  padding-top: 30px;
  padding-left: 50px;
  width: 100%;
}

.card-body h1 {
  font-family: $my-font;
  margin: 0px;
  color: #009EE2;
  font-size: 20px;
  font-weight: bold;
}

.card-body h2 {
  font-family: $my-font;
  color: $erasmus-blue;
  font-size: 20px;
  font-weight: bold;
}

.card-body h3 {
  font-family: $my-font;
  margin: 0px;
  color: black;
  font-size: 20px;
  font-weight: thin;
}

.card-body h3 span {
  font-family: $my-font;
  color: $erasmus-blue;
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 50px;
}

.card-body p {
  font-family: $my-font;
  color: black;
  font-size: 16px;
  font-weight: normal;
  max-width: 1050px;
}

