.banner-program {
  @media (max-width: 575.98px)  {
    height: 120px;
    background-position: center;
    background-size: cover;
  }
  @media (min-width: 576px) and (max-width: 767.98px) {
    height: 170px;
    background-position: center;
    background-size: cover;
  }
  @media (min-width: 768px) and (max-width: 991.98px) {
    height: 240px;
    background-position: center;
    background-size: cover;
  }
  @media (min-width: 992px) and (max-width: 1199.98px) {
    height: 280px;
    background-position: center;
    background-size: cover;
  }
  @media (min-width: 1200px) and (max-width: 1499.98px) {
    height: 320px;
    background-position: center;
    background-size: cover;
  }
  @media (min-width: 1500px) {
    height: 400px;
    background-position: center;
    background-size: cover;
  }
}

.program {
  display: flex;
  z-index: -4;
}

.container-program-date1 {
  display: flex;
  @media (max-width: 575.98px)  {
    flex-direction: column;
  }
  @media (min-width: 576px) and (max-width: 767.98px) {
    flex-direction: column;
  }
  @media (min-width: 768px) and (max-width: 991.98px) {
    flex-direction: column;
  }
  @media (min-width: 992px) and (max-width: 1199.98px) {
    flex-direction: row;
  }
  @media (min-width: 1200px) and (max-width: 1499.98px) {
    flex-direction: row;
  }
  @media (min-width: 1500px) {
    flex-direction: row;
  }
}

.date1 {
  background-color: $erasmus_blue;
  display: flex;
  @media (max-width: 575.98px)  {
    width: 100%;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
  }
  @media (min-width: 576px) and (max-width: 767.98px) {
    width: 100%;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
  }
  @media (min-width: 768px) and (max-width: 991.98px) {
    width: 100%;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
  }
  @media (min-width: 992px) and (max-width: 1199.98px) {
    width: 20%;
    padding-top: 30px;
    justify-content: flex-start;
    flex-direction: column;
  }
  @media (min-width: 1200px) and (max-width: 1499.98px) {
    width: 20%;
    padding-top: 30px;
    justify-content: flex-start;
    flex-direction: column;
  }
  @media (min-width: 1500px) {
    width: 20%;
    padding-top: 30px;
    justify-content: flex-start;
    flex-direction: column;
  }
}

.date1-text {
  display: flex;
  flex-direction: column;
  @media (max-width: 575.98px)  {
    margin-top: 15px;
    margin-bottom: 15px;
    padding-left: 10px;
    padding-top: 15px;
    flex-wrap: wrap;
    text-align: left;
    border-left: solid 7px $erasmus_yellow;
    justify-content: center;
    align-items: center;
  }
  @media (min-width: 576px) and (max-width: 767.98px) {
    margin-top: 15px;
    margin-bottom: 15px;
    padding-left: 10px;
    padding-top: 15px;
    flex-wrap: wrap;
    text-align: left;
    border-left: solid 7px $erasmus_yellow;
    justify-content: center;
    align-items: center;
  }
  @media (min-width: 768px) and (max-width: 991.98px) {
    margin-top: 50px;
    margin-left: 30px;
    margin-right: 50px;
    margin-bottom: 50px;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 10px;
    width: 300px;
    flex-wrap: wrap;
    text-align: left;
    border-left: solid 7px $erasmus_yellow;
  }
  @media (min-width: 992px) and (max-width: 1199.98px) {
    margin-top: 30px;
    margin-left: 40px;
    margin-right: 50px;
    border-left: solid 7px $erasmus_yellow;
    justify-content: flex-start;
    padding-left: 20px;
    padding-top: 10px;
  }
  @media (min-width: 1200px) and (max-width: 1499.98px) {
    margin-top: 30px;
    margin-left: 40px;
    margin-right: 50px;
    border-left: solid 7px $erasmus_yellow;
    justify-content: flex-start;
    padding-left: 20px;
    padding-top: 10px;
  }
  @media (min-width: 1500px) and (max-width: 1799.98px) {
    margin-top: 30px;
    margin-left: 50px;
    margin-right: 50px;
    border-left: solid 7px $erasmus_yellow;
    justify-content: flex-start;
    padding-left: 20px;
    padding-top: 10px;
  }
  @media (min-width: 1800px) {
    margin-top: 30px;
    margin-left: 50px;
    margin-right: 50px;
    border-left: solid 7px $erasmus_yellow;
    justify-content: flex-start;
    padding-left: 20px;
    padding-top: 10px;
  }
}

.date1-text p {
  font-family: $my-font;
  color: white;
  font-weight: bold;
  @media (max-width: 575.98px)  {
    font-size: 20px;
  }
  @media (min-width: 576px) and (max-width: 767.98px) {
    font-size: 24px;
  }
  @media (min-width: 768px) and (max-width: 991.98px) {
    font-size: 30px;
  }
  @media (min-width: 992px) and (max-width: 1199.98px) {
    font-size: 24px;
  }
  @media (min-width: 1200px) and (max-width: 1499.98px) {
    font-size: 26px;
  }
  @media (min-width: 1500px) and (max-width: 1799.98px) {
    font-size: 28px;
  }
  @media (min-width: 1800px) {
    font-size: 30px;
  }
}

.date1-picto {
  display: flex;
  @media (max-width: 575.98px)  {
    // justify-content: center;
    flex-direction: row;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
  }
  @media (min-width: 576px) and (max-width: 767.98px) {
    // justify-content: center;
    flex-direction: row;
    margin-top: 30px;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 30px;
  }
  @media (min-width: 768px) and (max-width: 991.98px) {
    // justify-content: center;
    flex-direction: row;
    margin-top: 30px;
    margin-left: 40px;
    margin-right: 50px;
    margin-bottom: 30px;
  }
  @media (min-width: 992px) and (max-width: 1199.98px) {
    justify-content: flex-start;
    flex-direction: column;
    margin-top: 30px;
    margin-left: 40px;
    margin-right: 50px;
  }
  @media (min-width: 1200px) and (max-width: 1499.98px) {
    justify-content: flex-start;
    flex-direction: column;
    margin-top: 30px;
    margin-left: 50px;
    margin-right: 50px;
  }
  @media (min-width: 1500px) and (max-width: 1799.98px) {
    justify-content: flex-start;
    flex-direction: column;
    margin-top: 30px;
    margin-left: 50px;
    margin-right: 50px;
  }
  @media (min-width: 1800px) {
    justify-content: flex-start;
    flex-direction: column;
    margin-top: 30px;
    margin-left: 50px;
    margin-right: 50px;
  }
}

.date1-picto img {
  @media (max-width: 575.98px)  {
    height: 50px;
  }
  @media (min-width: 576px) and (max-width: 767.98px) {
    height: 120px;
  }
  @media (min-width: 768px) and (max-width: 991.98px) {
    height: 120px;
  }
  @media (min-width: 992px) and (max-width: 1199.98px) {
    height: 130px;
  }
  @media (min-width: 1200px) and (max-width: 1499.98px) {
    height: 130px;
  }
  @media (min-width: 1500px) and (max-width: 1799.98px) {
    height: 160px;
  }
  @media (min-width: 1800px) {
    height: 160px;
  }
}

.main-speaker {
  display: flex;
  justify-content: flex-start;
  flex-direction : column;
  padding-top: 30px;
  padding-left: 50px;
  width: 100%;
}

.main-speaker p {
  font-family: $my-font;
  color: #009EE2;
  font-weight: bold;
  @media (max-width: 575.98px)  {
    font-size: 16px;
  }
  @media (min-width: 576px) and (max-width: 767.98px) {
    font-size: 18px;
  }
  @media (min-width: 768px) and (max-width: 991.98px) {
    font-size: 18px;
  }
  @media (min-width: 992px) and (max-width: 1199.98px) {
    font-size: 18px;
  }
  @media (min-width: 1200px) and (max-width: 1499.98px) {
    font-size: 20px;
  }
  @media (min-width: 1500px) and (max-width: 1799.98px) {
    font-size: 20px;
  }
  @media (min-width: 1800px) {
    font-size: 20px;
  }
}

.main-speaker h2 {
  font-family: $my-font;
  color: $erasmus-blue;
  font-weight: bold;
  @media (max-width: 575.98px)  {
    font-size: 16px;
  }
  @media (min-width: 576px) and (max-width: 767.98px) {
    font-size: 18px;
  }
  @media (min-width: 768px) and (max-width: 991.98px) {
    font-size: 18px;
  }
  @media (min-width: 992px) and (max-width: 1199.98px) {
    font-size: 18px;
  }
  @media (min-width: 1200px) and (max-width: 1499.98px) {
    font-size: 20px;
  }
  @media (min-width: 1500px) and (max-width: 1799.98px) {
    font-size: 20px;
  }
  @media (min-width: 1800px) {
    font-size: 20px;
  }
}

.contenu-date1 {
  width: 80%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  @media (max-width: 575.98px)  {
    width: 100%;
  }
  @media (min-width: 576px) and (max-width: 767.98px) {
    width: 100%;
  }
  @media (min-width: 768px) and (max-width: 991.98px) {
    width: 100%;
  }
}

.container-program-date2 {
  display: flex;
  background-color: $erasmus-blue;
  justify-content: flex-end;
}

.contenu-date2 {
  width: 80%;
  display: flex;
  justify-content: right;
}

.date2 {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.date2-text img {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  height: 120px;
  margin-top: 30px;
  margin-left: 50px;
  margin-right: 50px;
}

.date2-picto img {
  height: 180px;
  margin-top: 30px;
  margin-left: 65px;
}

.card {
  width: 100%;
  border: solid white,
}

.card-body {
  padding-top: 30px;
  padding-left: 50px;
  width: 100%;
}

.card-body h1 {
  font-family: $my-font;
  margin: 0px;
  color: #009EE2;
  font-weight: bold;
  @media (max-width: 575.98px)  {
    font-size: 18px;
  }
  @media (min-width: 576px) and (max-width: 767.98px) {
    font-size: 20px;
  }
  @media (min-width: 768px) and (max-width: 991.98px) {
    font-size: 22px;
  }
  @media (min-width: 992px) and (max-width: 1199.98px) {
    font-size: 22px;
  }
  @media (min-width: 1200px) and (max-width: 1499.98px) {
    font-size: 24px;
  }
  @media (min-width: 1500px) and (max-width: 1799.98px) {
    font-size: 24px;
  }
  @media (min-width: 1800px) {
    font-size: 24px;
  }
}

.card-body h2 {
  font-family: $my-font;
  color: $erasmus-blue;
  font-weight: bold;
  margin-bottom: 15px;
  @media (max-width: 575.98px)  {
    font-size: 16px;
  }
  @media (min-width: 576px) and (max-width: 767.98px) {
    font-size: 18px;
  }
  @media (min-width: 768px) and (max-width: 991.98px) {
    font-size: 18px;
  }
  @media (min-width: 992px) and (max-width: 1199.98px) {
    font-size: 18px;
  }
  @media (min-width: 1200px) and (max-width: 1499.98px) {
    font-size: 20px;
  }
  @media (min-width: 1500px) and (max-width: 1799.98px) {
    font-size: 20px;
  }
  @media (min-width: 1800px) {
    font-size: 20px;
  }
}

.card-body h3 {
  font-family: $my-font;
  margin: 0px;
  color: black;
  font-weight: thin;
  margin-bottom: 15px;
  @media (max-width: 575.98px)  {
    font-size: 16px;
  }
  @media (min-width: 576px) and (max-width: 767.98px) {
    font-size: 18px;
  }
  @media (min-width: 768px) and (max-width: 991.98px) {
    font-size: 18px;
  }
  @media (min-width: 992px) and (max-width: 1199.98px) {
    font-size: 18px;
  }
  @media (min-width: 1200px) and (max-width: 1499.98px) {
    font-size: 20px;
  }
  @media (min-width: 1500px) and (max-width: 1799.98px) {
    font-size: 20px;
  }
  @media (min-width: 1800px) {
    font-size: 20px;
  }
}

.card-body h3 span {
  font-family: $my-font;
  color: $erasmus_light_blue;
  font-weight: normal;
  margin-bottom: 15px;
  @media (max-width: 575.98px)  {
    font-size: 16px;
  }
  @media (min-width: 576px) and (max-width: 767.98px) {
    font-size: 18px;
  }
  @media (min-width: 768px) and (max-width: 991.98px) {
    font-size: 18px;
  }
  @media (min-width: 992px) and (max-width: 1199.98px) {
    font-size: 18px;
  }
  @media (min-width: 1200px) and (max-width: 1499.98px) {
    font-size: 20px;
  }
  @media (min-width: 1500px) and (max-width: 1799.98px) {
    font-size: 20px;
  }
  @media (min-width: 1800px) {
    font-size: 20px;
  }
}

.card-body p {
  font-family: $my-font;
  color: black;
  font-weight: normal;
  max-width: 1050px;
  @media (max-width: 575.98px)  {
    font-size: 16px;
  }
  @media (min-width: 576px) and (max-width: 767.98px) {
    font-size: 18px;
  }
  @media (min-width: 768px) and (max-width: 991.98px) {
    font-size: 18px;
  }
  @media (min-width: 992px) and (max-width: 1199.98px) {
    font-size: 18px;
  }
  @media (min-width: 1200px) and (max-width: 1499.98px) {
    font-size: 20px;
  }
  @media (min-width: 1500px) and (max-width: 1799.98px) {
    font-size: 20px;
  }
  @media (min-width: 1800px) {
    font-size: 20px;
  }
}

