.banner-questions {
  background-size: cover;
  background-position: center;
  height: 320px;
}

.new-question-show {
  @media (min-width: 1200px) {
    display: flex;
  }
  flex-direction: row;
  border: solid $erasmus-blue;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 60px;
  margin-bottom: 60px;
}

.question-image-show {
  display: flex;
  margin: 30px;
  justify-content: center;
}

.participant-question-show {
  @media (min-width: 1200px) {
  width: 82%;
  }
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  padding: 30px;
}

.participant-question-show h1 {
  color: #009EE2;
  font: $my-font;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

.participant-question-show h2 {
  color: black;
  font: $my-font;
  font-size: 20px;
  font-weight: normal;
  margin-bottom: 20px;
}

.participant-question-show p {
  color: $erasmus-blue;
  font: $my-font;
  font-size: 20px;
  font-style: italic;
}
