<div class="banner-container">
  <div class="banner-registration-reg-show position-relative" style="background-image: url('<%= image_path 'aquilogia_banner_reg_show.svg' %>');">
  </div>
</div>
<div class="home-registration">
  <div class="home-title">
    <p>Nous vous remercions et sommes ravis de vous accueillir le jeudi 8 septembre 2022 pour un moment convivial.</p>
    <p>Vous aller recevoir une confirmation dans votre boîte email.<br>
    Bel été et à bientôt!</p>
  </div>
  <div class="home-title">
    <p>L'équipe Aquilogia Patrimoine</p>
  </div>
</div>
