<div class="banner-container">
  <div class="banner-registration-reg-show position-relative" style="background-image: url('<%= image_path 'aquilogia_banner.jpg' %>');">
  </div>
</div>
<div class="home-registration">
  <div class="home-text">
    <p>Nous vous remercions et sommes ravis de vous accueillir pour un moment convivial.</p>
    <p>Vous allez recevoir une confirmation dans votre boîte email.<br>
    Bel été et à bientôt!</p>
    <p>L'équipe Aquilogia Patrimoine</p>
  </div>
</div>
