<div class="footer">
  <div class="contact">
    <p></p>
    <p>Contact</p>
    <p></p>
  </div>
  <div class="legal">
    <p></p>
    <%= link_to "Mentions légales", legal_path, class: "nav-link" %>
    <p></p>
  </div>
  <div class="logos-officiels">
    <p></p>
    <p>logos</p>
    <p></p>
  </div>
</div>
