<div class="footer">
  <div class="contact">
    <p></p>
    <p>CONTACT</p>
    <p></p>
  </div>
  <div class="legal">
    <%= link_to "Mentions légales", legal_path, class: "nav-link" %>
    <%= link_to "Politque de confidentialité", confidential_path, class: "nav-link" %>
  </div>
  <div class="logos-officiels">
    <%= image_tag "logo_footer.svg", alt: "Logo Agence Erasmus Plus", height: 100 %>
  </div>
</div>
