<div class="banner-container">
  <div class="banner position-relative d-flex" style="background-image: url('<%= image_path 'accueil-banner.png' %>');">
    <%= link_to "DECOUVREZ LE PROGRAMME", programme_path, class: "button-program banner-button-margin" %>
    <%= link_to "INSCRIVEZ-VOUS", new_event_participant_path(Event.first), data:{turbolinks:false}, class: "button-registration banner-button-margin" %>
  </div>
</div>
<%#= render 'modal/modal_home' %>
<div class="conference-presentation">
  <div class="conference-title">
    <h1> LA WEBCONFÉRENCE </h1>
  </div>
  <div class="conference-details">
    <div class="webinar-image mx-auto">
      <%= image_tag "picto-webinar.png", alt: "Webinar", height: 100 %>
    </div>
    <div class="conference-text-presentation">
    <p><b>La reconnaissance de la mobilité des apprentis constitue un enjeu majeur au niveau européen et national.</b><br>
    Une meilleure valorisation des compétences acquises à l’étranger permet à l’apprenant de sécuriser son parcours professionnel et de favoriser son employabilité.</p>
    <p>L’Agence Erasmus+ France / Education Formation, et le réseau des experts Erasmus+ de l’Enseignement et la Formation Professionnels, organisent une webconférence autour de trois dispositifs au service de cette reconnaissance : l’Europass Mobilité ; l’Unité Facultative de Mobilité et la reconnaissance certificative des compétences professionnelles.</p>
    <p>A travers des échanges riches et des témoignages d’acteurs du terrain, cet événement mettra en lumière les atouts de la mobilité européenne dans le cadre d’une formation professionnelle initiale. </p>
    <p><span>De 14h00 à 15h30, il sera animé en direct par Vanessa Duval (consultante en gestion de projets européens).<span></p>
    </div>
  </div>
</div>
