<div class="banner-container">
  <div class="banner position-relative d-flex" style="background-image: url('<%= image_path 'accueil-banner.png' %>');">
    <%#= link_to "DECOUVREZ LE PROGRAMME", programme_path, class: "button-program banner-button-margin" %>
    <%#= link_to "INSCRIVEZ-VOUS", new_event_participant_path(Event.first), data:{turbolinks:false}, class: "button-registration banner-button-margin" %>
  </div>
</div>
<%#= render 'modal/modal_home' %>
<div class="conference-presentation">
  <div class="conference-title">
    <h1> LA WEBCONFÉRENCE </h1>
  </div>
  <div class="conference-details">
    <div class="webinar-image mx-auto">
      <%= image_tag "new-picto-webinar.svg", alt: "Webinar", height: 100 %>
    </div>
    <div class="conference-text-presentation">
    <p>Placée sous le signe de l’<i>Année européenne des compétences</i> par la Commission européenne, l’année 2023 ambitionne de donner un nouvel élan à l’apprentissage tout au long de la vie.<br>
    <b>En cette période de transition écologique, numérique et d’évolution du marché du travail, comment accompagner les citoyens dans l'acquisition de compétences adaptées ? </b></p>
    <p>A travers des échanges, des témoignages, des présentations de projets Erasmus+, la webconférence mettra en lumière les enjeux de l’orientation tout au long de la vie, du numérique et de l’adaptation des qualifications et certifications.</p>
    <p><b>Elle sera animée le 6 juin 2023, de 14h00 à 15h30, en direct et avec du public, par Emmanuelle Bastide</b><br>(Journaliste RFI - Radio France Internationale)</p>
    <p><i>Webconférence organisée dans le cadre du programme Erasmus+ par les équipes en charge d’Europass, d’Euroguidance et du Cadre Européen des Certifications</i></p>
    </div>
  </div>
  <div class="button-valid">
    <%= link_to "JE M'INSCRIS".html_safe, new_event_participant_path(Event.last), data:{turbolinks:false}, class: "button-submit-registration" %>
  </div>
  <!-- <div class="partners-logos">
    <#%= image_tag "min_trav.png" %>
    <#%= image_tag "min_educ.png" %>
    <#%= image_tag "europass.png" %>
    <#%= image_tag "euroguidance.png" %>
    <#%= image_tag "eqf.png" %>
    <#%= image_tag "onisep.jpg" %>
    <#%= image_tag "cariforef.png" %>
    <#%= image_tag "centreinffo.png" %>
    <#%= image_tag "francecompetences.png" %>
  </div> -->
</div>
