<div class="banner-container">
  <div class="banner position-relative" style="background-image: url('<%= image_path 'banniere_grdr_web.png' %>');">
    <div class="fleche-scroll">
      <%= image_tag "fleche-scroll.svg" %>
    </div>
  </div>
  <div class="event-presentation">
    <p>Les régions du littoral ouest africain, de Ziguinchor (Sénégal) à Boké (Guinée) en passant par Cacheu (Guinée Bissau), sont intégrées de longue date aux flux économiques mondiaux et sous régionaux et regorgent de ressources renouvelables et non renouvelables, dont l’exploitation attire et profite à de nombreux acteurs. Ces territoires dynamiques sont soumis à des évolutions économiques, sociales et environnementales liées à une forte croissance démographique, un processus d’urbanisation soutenu et une forte mobilité humaine.</p>
  </div>
</div>
