<div class="container">
  <h1>Programme</h1>


  <h2>14 Janvier</h2>
  <% @workshops_1.each do |workshop| %>
    <div class="card">
      <div class="card-body">
        <%= workshop.name %>
      </div>
    </div>
  <% end %>


  <h2>18 Janvier</h2>
  <% @workshops_2.each do |workshop| %>
    <div class="card">
        <div class="card-body">
          <%= workshop.name %>
        </div>
      </div>
  <% end %>
</div>
