<div class="container-dashboard">
  <div class="title-dashboard">
    <h1>Dashboard</h1>
    <%= link_to "< Accueil", root_path, class: "btn-back-dashboard" %>
  </div>
  <div class="dashboard-options">
    <%= link_to "Participants", company_admin_participants_path, class: "btn-dashboard" %>
    <%= link_to "Ateliers", company_admin_workshops_path, class: "btn-dashboard" %>
    <%= link_to "Questions", company_admin_questions_path, class: "btn-dashboard" %>
  </div>
</div>
