<h2><span style="color: #004F99" > Bonjour <%= @participant.first_name %> <%= @participant.last_name %>,</span>
</h2>
<p>La Conférence Erasmus + Bilan et Perspectives a lieu dans <%= @time %> jours</p>
<p style="color: #004F99">A bientôt!</p>



