.btn-erasmus {
  width: 250px;
  background-color: $erasmus_yellow;
  color: $erasmus_blue;
  font-weight: bold;
  font: $my-font;
}

.button-registration {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 320px;
  height: 55px;
  background-color: $grdr_brown;
  color: white;
  font-weight: bold;
  font: $my-font;
  padding: 10px;
  text-decoration: none;
  margin-top : 20px;
  margin-bottom: 20px;
}

.button-registration a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-registration:hover {
  text-decoration: none;
  color: $grdr_brown;
  background-color: white;
  border: solid $grdr_brown;
}


.btn-grdr {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 55px;
  background-color: $grdr_brown;
  color: white;
  font-weight: bold;
  font: $my-font;
  padding: 10px;
  margin: 20px;
  text-decoration: none;
  // margin: 0 auto;
}

.btn-grdr:hover {
  color: $grdr_brown;
  background-color: white;
  border: solid $grdr_brown;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 55px;
  background-color: $grdr_brown;
  color: white;
  font-weight: bold;
  font: $my-font;
  padding: 10px;
  text-decoration: none;
  margin: 0 auto;
}


.btn:hover {
  color: $grdr_brown;
  background-color: white;
  border: solid $grdr_brown;
}

.btn-imagina {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 45px;
  background-color: $grdr_medium_green;
  color: white;
  font-weight: bold;
  text-align: center;
  font: $my-font;
  font-size: 16px;
  padding: 10px;
  text-decoration: none;
  margin: 0 auto;
}

.btn-imagina a:hover {
  text-decoration: none;
  color: $grdr_red;
  font-weight: 600;
}

a {
  color: $grdr_red;
  font-weight: 600;
}

