.button-registration {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  background-color: $erasmus_yellow;
  color: $erasmus_blue;
  font-weight: bold;
  font-family: $my-font;
  padding: 10px;
  text-decoration: none;
  border-radius: 50px;
  @media (max-width: 575.98px)  {
    display: none;
  }
  @media (min-width: 576px) and (max-width: 767.98px) {
    width: 220px;
    height: 42px;
    font-size: 12px;
  }
  @media (min-width: 768px) and (max-width: 991.98px) {
    width: 220px;
    height: 42px;
    font-size: 12px;
  }
  @media (min-width: 992px) and (max-width: 1199.98px) {
    width: 400px;
    height: 44px;
    font-size: 14px;
  }
  @media (min-width: 1200px) and (max-width: 1499.98px) {
    width: 400px;
    height: 46px;
    font-size: 16px;
  }
  @media (min-width: 1500px) and (max-width: 1799.98px) {
    width: 400px;
    height: 48px;
    font-size: 18px;
  }
  @media (min-width: 1800px) {
    width: 400px;
    height: 50px;
    font-size: 20px;
  }
}

.button-registration a {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: $my-font;
}

.button-registration:hover {
  text-decoration: none;
  color: $erasmus_darkblue;
  background-color: white;
  border: solid $erasmus_darkblue;
}

.button-program {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  background-color: $erasmus_yellow;
  color: $erasmus_blue;
  font-weight: bold;
  font-family: $my-font;
  padding: 10px;
  text-decoration: none;
  border-radius: 50px;
  @media (max-width: 575.98px)  {
    display: none;
  }
  @media (min-width: 576px) and (max-width: 767.98px) {
    width: 220px;
    height: 42px;
    font-size: 12px;
  }
  @media (min-width: 768px) and (max-width: 991.98px) {
    width: 220px;
    height: 42px;
    font-size: 12px;
  }
  @media (min-width: 992px) and (max-width: 1199.98px) {
    width: 400px;
    height: 44px;
    font-size: 14px;
  }
  @media (min-width: 1200px) and (max-width: 1499.98px) {
    width: 400px;
    height: 46px;
    font-size: 16px;
  }
  @media (min-width: 1500px) and (max-width: 1799.98px) {
    width: 400px;
    height: 48px;
    font-size: 18px;
  }
  @media (min-width: 1800px) {
    width: 400px;
    height: 50px;
    font-size: 20px;
  }
}

.button-program a {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: $my-font;
}

.button-program:hover {
  text-decoration: none;
  color: $erasmus_darkblue;
  background-color: white;
  border: solid $erasmus_darkblue;
}

.button-submit-registration {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 280px;
  height: 50px;
  background-color: $europass_green;
  color: $erasmus_darkblue;
  font-weight: bold;
  font-family: $my-font;
  padding: 10px;
  text-decoration: none;
  margin-top : 10px;
  margin-bottom: 10px;
  border-radius: 50px;
}

.button-submit-registration a {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: $my-font;
}

.button-submit-registration:hover {
  text-decoration: none;
  color: $erasmus_darkblue;
  background-color: white;
  border: solid $erasmus_darkblue;
}

.button-webinaire {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 310px;
  height: 70px;
  background-color: $erasmus_yellow;
  border-radius: 50px;
  color: $erasmus_darkblue;
  font-size: 16px;
  font-weight: bold;
  font-family: $my-font;
  padding-top: 20px;
  padding-bottom: 20px;
  text-decoration: none;
  margin-top : 10px;
  margin-bottom: 10px;
  margin-left: 20px;
  margin-right: 20px;
}

.button-webinaire a {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: $my-font;
}

.button-webinaire:hover {
  text-decoration: none;
  color: $erasmus_darkblue;
  background-color: white;
  border: solid $erasmus_darkblue;
}

a {
  font-family: $my-font;
}



