.btn-erasmus {
  width: 250px;
  background-color: $erasmus_yellow;
  color: $erasmus_blue;
  font-weight: bold;
  font: $my-font;
}

.btn-grdr {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 320px;
  height: 55px;
  background-color: $grdr_medium_green;
  color: white;
  font-weight: bold;
  font: $my-font;
  padding: 10px;
  margin: 20px;
  text-decoration: none;
  // margin: 0 auto;
}

.btn-grdr a:hover {
  color: $grdr_red;
}

