.footer {
  // background: #F0F4FC;
  background: #f3f7e6;
  bottom: 0;
  box-shadow: 0 0 5px #cfd8a9;
  display: flex;
  z-index: -4;
  // position: relative;
  // box-shadow: 0px -4px 12px #F0F4FC;
}

.contact {
  padding-left: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
  margin-top: 20px;
  @media (max-width: 991.98px) {
    justify-content: center;
    align-items: center;
    padding-left: 0px;
  }
}

.contact-highlighted-white {
  color: #2b2a2a;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 600;
  font-family: $body-font;
  @media (max-width: 991.98px) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.contact-highlighted-white span {
  font-size: 20px;
  font-weight: 600;
  position: relative;
}

.contact-highlighted-white span:after {
  content: '';
  height: 50%;
  width: 100%;
  position: absolute;
  right: 0;
  left:0;
  bottom: 0;
  z-index:-1;
  background-color: #cfd8a9;
}

.contact-highlighted-white h1 {
  font-size: 18px;
  font-weight: bold;
  position: relative;
  margin-top: 10px;
  margin-bottom: 3px;
  @media (max-width: 991.98px) {
    justify-content: center;
    align-items: center;
  }
}

.email_contact {
  display: flex;
  flex-direction: row;
  justify-content: left;
  font-family: $body-font;
  font-size: 16px;
  font-weight: normal;
  @media (max-width: 991.98px) {
    justify-content: center;
  }
}

.email_contact img {
  margin-right: 10px;
  @media (max-width: 991.98px) {
    display: flex;
    justify-content: center;
  }
}

.email_contact a {
  color: #2b2a2a;
  text-decoration: underline;
  font-family: $body-font;
  font-size: 14px;
  font-weight: normal;
  @media (max-width: 991.98px) {
    display: flex;
    justify-content: center;
  }
}

.legal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 10px;
  padding-left: 70px;
  @media (min-width: 992px) {
    justify-content: center;
    border-left: solid 1px darkgrey;
    border-right: solid 1px darkgrey;
  }
  @media (max-width: 991.98px) {
    justify-content: center;
    align-items: center;
    padding-left: 0px;
  }
}

.legal a {
  color: #2b2a2a;
  text-decoration: underline;
  font-family: $body-font;
  font-weight: normal;
  font-size: 14px;
  padding: 5px;
  @media (max-width: 991.98px) {
    display: flex;
    justify-content: center;
  }
}

.logos-officiels {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 18px;
  @media (max-width: 991.98px) {
    margin-top: 0px;
    margin-bottom: 20px;
  }
}
