.footer {
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  bottom: 0;
  width: 100%;
  height: 150px;
  z-index: 0;
}

.contact {
  display: flex;
  justify-content: center;
  width: 33%;
}

.legal {
  display: flex;
  justify-content: center;
  border-left: solid 1px;
  border-right: solid 1px;
  width: 33%;
}

.logos-officiels {
  display: flex;
  justify-content: center;
  width: 34%;
}
