.footer {
  background: #F0F4FC;
  display: flex;
  align-items: center;
  justify-content: space-around;
  bottom: 0;
  width: 100%;
  height: 150px;
  z-index: 0;
}

.contact {
  display: flex;
  justify-content: center;
  width: 33%;
}

.legal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-left: solid 1px darkgrey;
  border-right: solid 1px darkgrey;
  width: 33%;
  font-color: black;
  padding-left: 30px;
  text-decoration: underline;
}

.logos-officiels {
  display: flex;
  justify-content: center;
  width: 34%;
}
