.modal-header {
  height: 60px;
  background-color: white;
}

.modal-body {
  background-color: white;
}

.modal-body p {
  font-size: 18px;
  font-family: $my-font;
  color: $erasmus_blue;
}

#myOpenModal {
  margin-top: 100px;
}

.info-modal p {
  font-size: 18px;
  color: $erasmus_blue;
  font-family: $my-font;
}
