.navbar {
  z-index: 1;
}

.navbar .navbar-nav {
  justify-content: space-between;
  width: 920px;
  padding-left: 20px;
}

.navbar .navbar-brand img {
  width: 320px;
  padding-left: 20px;
}

.bg-light {
  background-color: white !important;
  justify-content: space-between;
  box-shadow: 0 4px 12px 0 #CBD9F1 !important;
  font: $my-font;
  font-weight: 600;
  position: relative;
  padding-right: 30px;
}

.nav-item .active {
  color: $grdr_medium_green;
  font-family: $my-font;
  font-weight: 600;
  position: relative;
}

.nav-item .active:after {
  content: '';
  height: 30%;
  width: 100%;
  position: absolute;
  right: 0;
  left:0;
  margin-top: 15px;
  bottom: 2;
  z-index:-1;
  background-color: #f3f7e6;
}

.navbar .navbar-collapse {
  justify-content: space-between;
  flex-grow: 0;
}

.navbar-light .navbar-toggler {
  color: $grdr_red;
  border-color: $grdr_red;
}

.navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .nav-link.active {
  color: $grdr_red;
  position: relative;
}


.navbar-light .navbar-nav .nav-link {
  color: $grdr_red;
  font-size: 20px;
}

.navbar-light .navbar-nav .nav-link:hover {
  text-decoration: none;
  color: $grdr_medium_green;
}

.navbar-expand-sm .navbar-nav {
    flex-direction: row;
}

.fa-linkedin {
  margin-top: 8px;
  color: $grdr_medium_green;
  font-size: 28px;
}

.fa-twitter-square {
  margin-top: 8px;
  color: $grdr_medium_green;
  font-size: 28px;
}
