.navbar {
  justify-content: space-between;
  background: white;
  box-shadow: 0 4px 12px 0 #CBD9F1;
}

.navbar .navbar-collapse {
  justify-content: space-between;
  flex-grow: 0;
}

.navbar-light .navbar-toggler {
  color: $erasmus-blue;
  border-color: $erasmus-blue;
}

.navbar .navbar-brand img {
  width: 320px;
  padding-left: 20px;
}

.navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .nav-link.active {
    color: $erasmus-yellow;
}

.navbar-light .navbar-nav .nav-link {
  color: $erasmus-blue;
  font-size: 20px;
}

.navbar-expand-sm .navbar-nav {
    flex-direction: row;
}

.fa-linkedin {
  margin-top: 14px;
  color: #009EE2;
  font-size: 20px;
}

.fa-twitter-square {
  margin-top: 14px;
  color: #009EE2;
  font-size: 20px;
}
