// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "devise/index";
@import 'cookies_eu';

.container {
min-height: 530px;
max-width: 1200px;
margin-top: 50px;
margin-left: 100px;
margin-right: 100px;
margin-bottom: 50px;
}

body {
  background-color: white;
}
