// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

.bg-red {
  background: grey;
}

.my-check-box {
  border: 1px solid;
  border-color: $erasmus_yellow;
  padding: 10px;
  margin: 5px;
}
@import 'cookies_eu';
