.form-actions {
  width: 250px;
  background-color: $erasmus_yellow;
  color: $erasmus_blue;
  font: $my-font;
  font-weight: bold;
  justify-content: center;
  text-align: center;
  margin: auto;
}

.btn {
  color: $erasmus_blue;
  font-weight: bold;
}
