.form-inputs {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  font: $body-font;
}

h5 {
  color: #009EE2;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
  font: $body-font;
}
