.container-devise {
  margin-top: 240px;
  margin-left: 180px;
  margin-right: 180px;
  margin-bottom: 160px;
}
.form-inputs {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  font-family: $aquilogia-text;
}

.container-devise h1 {
  color: #BE1E2D;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
  font-family: $aquilogia-text;
}
