<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <%#= stylesheet_link_tag "application-mailer", media: "all" %>
    <!-- <style type="text/css" media="screen">
      .btn {
        text-decoration: none;
        padding: 15px 30px;
        background: #FFED34;
        color: #004F99;
      }
    </style> -->
  </head>
  <body>
    <div style="background-color:white;max-width:800px;margin:0 auto;padding:30px">
    <%= image_tag attachments['logo_site_erasmus.svg'].url, style: 'height:80px;', alt: 'Logo Erasmus' %>
    </div>
    <div style="background-color:white;max-width:800px;border: solid #004F99;color:#495057;padding:30px;margin:0 auto;font-family:'Roboto', sans-serif;">
      <%= yield %>
    </div>
  </body>
</html>
