<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <%#= stylesheet_link_tag "application-mailer", media: "all" %>
    <style type="text/css" media="screen">
      .btn {
        text-decoration: none;
        padding: 15px 30px;
        background: #88C3C8;
        color: black;
        border-radius: 50px;
      }
    </style>
  </head>
  <body>
    <div style="background-color:#FFF;max-width:600px;margin:0 auto;padding:0 30px">
      <%#= image_tag attachments['logo.png'].url, style: 'height:80px;', alt: 'Logo Toki' %>
    </div>
    <div style="background-color:#F5F5F5;max-width:600px;color:#495057;padding:30px;margin:0 auto;border-radius:5px;font-family:'Roboto', sans-serif;">
      <%= yield %>
    </div>
  </body>
</html>
